body {
    padding-top: 0px;
    margin-top: 0px;

    font-family: 'Lucida Sans Unicode', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, monospace;
    background-color: black;
    color: white;
    font-size: 16px;
}
a {
    color: white;
    text-decoration: none;
}

/* Navbar */
nav {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9363095580028886) 33%, rgba(0,0,0,0.8130602582830007) 70%, rgba(0,0,0,0) 100%);
    top: 0px;
    position: sticky;
}
nav ul {
    margin-top: 0px;
    padding: 1.2rem;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    font-size: 1.2rem;
}
nav li a:hover {
    color: orange;
}

/* Banner */
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
    margin: 1rem;
}

.banner-image img {
    width: 20rem;
    border-radius: 50%;
    border: 10px solid orange;
}
.about-me {
    color: orange;
}

.socials {
    display: flex;
    list-style: none;
    padding-left: 0px;
    font-size: 2rem;
    color: gray;
    margin-bottom: 0px;
    margin-top: 1rem;
}
.socials li {
    padding-right: 1rem;
}
@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;
        height: 700px;
    }
    .banner-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
}
    
/* Type effect */
#typeCursor {
    color: orange;
    animation: blink 1.1s ease infinite;
}
@keyframes blink {
    0% {
        opacity: 100%;
    }
    60% {
        opacity: 0%;
    }
}